include ./includes/head.pug
.wrapper
  .preloader.flex-column.justify-content-center.align-items-center
    img.animation__shake(src='/dist/img/AdminLTELogo.png' alt='AdminLTELogo' height='60' width='60')
  include ./includes/navbar.pug
  include ./includes/sidebar.pug
  .content-wrapper
    .container-fluid
      .row.mb-2
        .col-sm-6
          h2 All Equipment
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='#') Home
            li.breadcrumb-item.active DataTables
    section.content
     .container-fluid
      .row
       .col-12
        .card
          .card-header
            h3.card-title List of equpment added
          // /.card-header
          .card-body
            table#example2.table.table-bordered.table-hover
              thead
                tr
                  th Id
                  th Name
                  th Department(s)
                  th Barcode
                  th Description
              tbody
               each equipment in equipment_list
                tr
                  td #{equipment.id}
                  td #{equipment.equipment_name}
                  td #{equipment.department}
                  td #{equipment.barcode} 
                  td #{equipment.description}  
              tfoot
                tr
                  th Id
                  th Name
                  th Department(s)
                  th Barcode
                  th Description
  include ./includes/components/alert-logout.pug                
  include ./includes/footer.pug
include ./includes/scripts.pug